.container {
    display: flex;
    flex-direction: column;
  }
  
  .tableContainer {
    flex: 1;
    overflow: auto;
  }
  
  .imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .container {
      flex-direction: column-reverse;
    }
  }
  