.tableContainer {
  width: 70%;
}

.tableHeader {
  background-color: #f0f0f0;
}

.tableRow {
  cursor: pointer;
}

.tableRow:nth-child(even) {
  background-color: #f9f9f9;
}

.tableRow:hover {
  background-color: #eaeaea;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.title {
  grid-column: span 12;
}

.image {
  grid-column: span 12;
}
.image img {
  max-width: 100%;
  height: auto;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 579px;
}
.selectedProductTitle {
  display: flex;
  text-align: center;
}
.imageContainer img {
  max-width: 100%;
  max-height: 200px;
}
/* Default styles for the container */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Media query for small screens (e.g., smartphones) */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

/* Media query for medium screens (e.g., tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: center;
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
